body {
    margin-left: 15%;
    margin-right: 15%;
}

.norm {

}
.normhead {
    font-weight: BOLD;
}

.normtext {
    margin: 5px;
}

.abs {
    text-align: justify;
    margin: 10px;
}

.subbox {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}

.sub {
    margin: 10px;
    width: 30%;
}

.subsub {
    font-size: 8pt;
}

.marked {
    background-color: yellow;
}
